* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.canvas {
  background-color: lightgray;
  width: 600px;
  height: 600px;
  position: relative;
}

.element {
  position: absolute;
}
.element.selected {
  border: 1px dashed #2aa5fe;
}
.element.selected > .shape {
  border: 1px solid #2aa5fe;
}
.shape {
  width: 100%;
  height: 100%;
  position: relative;
}
.circle {
  border-radius: 50%;
}
.frame {
  overflow: hidden;
}
.size {
  width: 7px;
  height: 7px;
  border: 1px solid #2aa5fe;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  cursor: all-scroll;
  z-index: 1;
}
.size.left.top {
  transform: translate(-50%, -50%);
  left: 0;
  top: 0;
  cursor: nw-resize;
}
.size.left.bottom {
  transform: translate(-50%, 50%);
  left: 0;
  bottom: 0;
  cursor: sw-resize;
}
.size.right.top {
  transform: translate(50%, -50%);
  right: 0;
  top: 0;
  cursor: ne-resize;
}
.size.right.bottom {
  transform: translate(50%, 50%);
  right: 0;
  bottom: 0;
  cursor: se-resize;
}
